body {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.topbar {
    background-color: #ffffff;
    overflow: hidden;
    height: 75px;
    display: flex;
    align-items: center;
}
.overlay-menu-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}
#overlay-menu {
    content: ' ';
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transition: .7s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    height:0px;
    width:0px;
    left:0;
    top:0;
}
.menu-on {
    height: calc(100vh * 2)!important;
    width: calc(100vw * 2)!important;
    left: -50vw!important;
    top: -50vh!important;
}

#topbar-main-nav {
    margin-left: 40px;
    margin-right: auto;
    
}
#topbar-main-nav a {
    width: 70px;
}

#topbar-social-nav {
    margin-right: 25px;

}
#topbar-social-nav a {
    width:40px;
    justify-content: center;
}

nav a {
    color: #000000;
    font-weight: 700;
    padding-top: 5px;
    border-top: 2px solid black;
    text-decoration: none;
    margin-right: 20px;
    display: inline-flex;
}

.topbar a:hover {
    color: black;
}

.topbar-logo {
    margin-left: 35px;
    height: 40px;
}

#topbar-hb-menu {
    display: none;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
}

@media screen and (max-width: 800px) {
    #topbar-social-nav, #topbar-main-nav {
        display: none;
    }

    .topbar .icon {
        display: flex;

    }

    #topbar-hb-menu {
        margin-left: 25px;
        margin-right: auto;
        display: flex;        
    }
    .topbar-logo {
        margin-right:20px;
    }
  }