/// banner
.banner-img
  overflow: hidden
  width: 100%

  & > img
    object-fit: cover
    object-position: center
    width: 116%
    height: 200px
    margin-left: -32px
    +media-breakpoint-up(sm)
      margin-left: -72px
      width: 120%
    +media-breakpoint-up(lg)
      height: 20vw
      margin-left: 0
      width: 100%
