/* FONTS */
@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Regular.woff2?v=1.101) format("woff2"),
    url(../assets/fonts/OpenSans-Regular.woff?v=1.101) format("woff");
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-Italic.woff2?v=1.101) format("woff2"),
    url(../assets/fonts/OpenSans-Italic.woff?v=1.101) format("woff");
  font-weight: 400;
  font-display: fallback;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-ExtraBold.woff2?v=1.101) format("woff2"),
    url(../assets/fonts/OpenSans-ExtraBold.woff?v=1.101) format("woff");
  font-weight: 800;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../assets/fonts/OpenSans-ExtraBoldItalic.woff2?v=1.101)
      format("woff2"),
    url(../assets/fonts/OpenSans-ExtraBoldItalic.woff?v=1.101) format("woff");
  font-weight: 800;
  font-display: fallback;
  font-style: italic;
}
