body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: normal;
  font-size: 28px;
}

.flock--yellow {
  color: #fcde00;
}

/* 
 * breadcrumbs
*/
.breadcrumb {
  font-style: italic;
}

.breadcrumb:before {
  content: ">>> ";
  color: #fcde00;
  margin-right: 1rem;
}

.topbar {
  background-color: #ffffff;
  overflow: hidden;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 3;
  position: relative;
}

.topbar__logo {
  margin-right: auto;
  height: 40px;
  z-index: 5;
}

.homepage__container {
  position: absolute;
  z-index: 2;
  margin-top: 56px;
}

.homepage__container .breadcrumb {
  margin-bottom: 10px;
}

.homepage__header {
  margin-top: 0;
  max-width: 320px;
}
.homepage__header {
  font-size: 32px;
  margin: 0 auto;
}

.homepage__content {
  width: 100vw;
}

.homepage__background--container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.homepage__background--diagonal {
  content: " ";
  position: absolute;
  z-index: 2;
  width: 110%;
  height: calc(35vw + 130px);
  top: -50%;
  left: -8%;
  transform: rotate(-10deg);
  background-color: #ffffff;
  margin-top: 100px;
}

.homepage__background--image {
  width: 100vw;
  max-width: 1920px;
  margin-top: calc(152px - calc(100vw * 0.1437));
}

.cta-button {
  content: " ";
  background: url(../assets/images/Misc/cta_button.svg);
  margin-top: -30%;
  height: 50px;
  width: 50px;
  border: 0;
  display: inline-block;
  background-size: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

/*
 * about-us
*/
#about-us {
  background-image: url(../assets/images/Misc/about_bg.svg);
}

.about-us__content>div {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 0;
}

.about-us__content p {
  max-width: 100%;
  width: 400px;
}

.about-us__content>p {
  color: #c9d5e3;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: end;
}

@media screen and (min-width: 992px) {
  .about-us__content>p {
    font-size: 56px;
    line-height: 60px;
  }
}

/*
 * our-stories
*/
#our-stories {
  overflow: hidden;
}

#our-stories>div {
  border-left: 3px solid #fcde00;
}

#our-stories img {
  width: 100%
}

/*
 * join-us 
*/
.join-us__group-card > div {
  text-align: center;
}

.join-us__group-card img {
  height: auto;
  width: 200px;
}

/*
 * contact
*/
#contact {
  background-color: #c4d7e4;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.contact__footer--image--container {
  align-self: end;
}

.contact__footer--image {
  height: auto;
  width: 100%;
}

#contact .grid__container {
  padding-top: 25vw;
}

#contact .grid__container > div {
  margin: 0 auto;
}

#contact h2 {
  color: #ffffff;
}

#contact:after {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 120%;
  height: calc(35vw);
  top: -20vw;
  left: -8%;
  transform: rotate(-10deg);
  background-color: #ffffff;
}

.contact__sub-header {
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.contact__links {
  color: #000000;
  text-decoration: none;
}

@media all and (min-width: 1280px) {
  .homepage__header {
    font-size: 60px;
    max-width: 600px;
  }
}

@media all and (min-width: 980px) and (max-width: 1279px) {
  .homepage__header {
    font-size: 50px;
    max-width: 500px;
  }
}
@media all and (min-width: 736px) and (max-width: 979px) {
  .homepage__header {
    font-size: 40px;
    max-width: 450px;
  }
}
@media all and (min-width: 480px) and (max-width: 735px) {
  .homepage__header {
    font-size: 36px;
    max-width: 355px;
  }
}
@media (max-width: 400px) {
  .homepage__header {
    font-size: 26px;
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
  }

  .homepage__container {
    margin-top: 40px;
  }
}
