body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
  letter-spacing: 1px;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

h2 {
  font-weight: bold;
  font-size: 52px;
}
h3 {
  font-weight: normal;
  font-size: 28px;
}

.flock--yellow {
  color: #fcde00;
}

.page__container {
  max-width: 1920px;
  margin: 0 auto;
}

.grid__container {
  margin: 0 auto;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.grid__container--padding {
  padding: 150px 0px;
}

.breadcrumb:before {
  content: ">>> ";
  color: #fcde00;
}
.breadcrumb {
  margin-bottom: 40px;
  font-style: italic;
}

.topbar {
  background-color: #ffffff;
  overflow: hidden;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 3;
  position: relative;
}

.topbar__logo {
  margin-right: auto;
  height: 40px;
  z-index: 1;
}

.homepage__container {
  position: absolute;
  z-index: 3;
  margin-top: 56px;
}

.homepage__container .breadcrumb {
  margin-bottom: 10px;
}

.homepage__header {
  margin-top: 0;
  max-width: 320px;
}
.homepage__header {
  font-size: 32px;
  margin: 0 auto;
}

.homepage__content {
  width: 100vw;
}

.homepage__background--container {
  position: relative;
  overflow: hidden;
}

.homepage__background--diagonal {
  content: " ";
  position: absolute;
  z-index: 2;
  width: 110%;
  height: calc(35vw + 130px);
  top: -50%;
  left: -8%;
  transform: rotate(-10deg);
  background-color: #ffffff;
  margin-top: 100px;
}

.homepage__background--image {
  width: 100vw;
  max-width: 1920px;
  margin-top: calc(152px - calc(100vw * 0.1437));
}

.cta-button {
  content: " ";
  background: url(../assets/images/cta_button.svg);
  margin-top: -30%;
  height: 50px;
  width: 50px;
  border: 0;
  display: inline-block;
  background-size: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
}

#about-us {
  background-image: url(../assets/images/about_bg.svg);
}

.about-us__content {
  justify-content: center;
}

.our-stories__accordion {
  padding-inline-start: 0;
}

.about-us__header {
  color: #c9d5e3;
  font-weight: bold;
  font-size: 44px;
}

.about-us__body {
  font-size: 14px;
  margin: auto 0;
}

#our-stories {
  overflow: hidden;
}

.our-stories__accordion {
  list-style-type: none;
}
.our-stories__accordion--item a {
  text-decoration: none;
}

.our-stories__accordion--content {
  padding-left: 10px;
  border-left: 3px solid #fcde00;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

.our-stories__accordion--content--inner {
  float: left;
}

.our-stories__accordion--content--illustration img {
  width: 80%;
}

.our-stories__accordion--content--illustration {
  float: left;
}

.our-stories__accordion--header {
  margin: 0;
  cursor: pointer;
}

#join-us .breadcrumb {
  margin-bottom: 60px;
}

.join-us__card {
  text-align: center;
  align-self: center;
  padding: 0 5px;
}

.join-us__card--badge {
  margin: 0 auto 20px;
}

.join-us__card--badge img {
  height: auto;
  width: 200px;
}

.join-us__card p {
  max-width: 300px;
  margin: 0 auto;
}

.join-us__container {
  align-items: flex-start;
  max-width: 960px;
}

#contact {
  background-color: #c4d7e4;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.contact__footer--image {
  bottom: 0px;
  right: 0px;
  width: 40vw;
  height: 40vw;
}

#contact .grid__container {
  padding-top: 11vw;
  z-index: 1;
}

.contact__container > h2 {
  color: #ffffff;
  font-size: 40px;
}

.contact__container {
  z-index: 5;
  position: relative;
  max-width: 500px;
  margin: 0 auto 10% auto;
}

#contact:after {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 120%;
  height: calc(35vw);
  top: -20vw;
  left: -8%;
  transform: rotate(-10deg);
  background-color: #ffffff;
}

#contact img {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.contact__sub-header {
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.contact__links {
  color: #000000;
  text-decoration: none;
}

@media all and (min-width: 1690px) {
  .homepage__header {
    font-size: 60px;
    max-width: 600px;
  }
}

@media all and (min-width: 1280px) {
  .homepage__header {
    font-size: 60px;
    max-width: 600px;
  }
}

@media all and (min-width: 980px) and (max-width: 1279px) {
  .homepage__header {
    font-size: 50px;
    max-width: 500px;
  }
}
@media all and (min-width: 736px) and (max-width: 979px) {
  .homepage__header {
    font-size: 40px;
    max-width: 450px;
  }
}
@media all and (min-width: 480px) and (max-width: 735px) {
  .homepage__header {
    font-size: 36px;
    max-width: 355px;
  }
  .about-us__content {
    padding-left: 40px;
  }
}

@media (min-width: 600px) {
  .about-us__header,
  .about-us__body {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .-active {
    overflow: unset !important;
  }

  .grid__col-3,
  .grid__col-2 {
    margin-bottom: 40px;
  }

  #homepage:before {
    height: 50px;
    background-color: white;
    content: " ";
  }

  #contact .grid__container {
    padding-top: 10vw;
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .grid__container {
    width: 750px;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .grid__col-2 {
    width: 45%;
  }

  .grid__col-2:first-child {
    margin-right: 5%;
  }

  .grid__col-3 {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }

  .breadcrumb {
    margin-left: 70px;
  }

  .grid__row {
    display: flex;
    margin: 0 auto;
  }

  .about-us__header {
    font-size: 56px !important;
    text-align: right;
  }

  .our-stories__accordion {
    padding-inline-start: 40px !important;
  }

  #contact:after {
    top: -25vw !important;
  }

  #contact img {
    margin: 0 10vw;
  }

  .our-stories__accordion--content--inner {
    margin-right: 10%;
  }
}

@media (min-width: 992px) {
  .grid__container {
    width: 952px;
  }

  .breadcrumb {
    margin-left: 200px !important;
  }

  #contact img {
    margin: 0 15vw;
  }
}

@media (min-width: 1200px) {
  .grid__container {
    width: 1170px;
  }

  .contact__container {
    max-width: 40% !important;
    margin: 0 0 10% 200px !important;
  }

  #contact img {
    margin: 0 0 0 40px !important;
    width: 40vw !important;
    position: absolute;
  }
}
