body {
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

p {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}
h3 {
  font-weight: normal;
  font-size: 28px;
}

.flock--yellow {
  color: #fcde00;
}

/* 
 * breadcrumbs
*/
.breadcrumb {
  font-style: italic;
}

.breadcrumb:before {
  content: ">>> ";
  color: #fcde00;
  margin-right: 1rem;
}

/*
 * topbar
*/
.topbar {
  background-color: #ffffff;
  overflow: hidden;
  height: 75px;
  display: flex;
  align-items: center;
  z-index: 3;
  position: relative;
}

.topbar__logo {
  height: 40px;
  margin-right: auto;
  z-index: 5;
}

.cta-button {
  content: " ";
  background: url(../assets/images/Misc/cta_button.svg);
  margin-top: -30%;
  height: 50px;
  width: 50px;
  border: 0;
  display: inline-block;
  background-size: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .topbar {
    padding: 0 30px;
  }

  .topbar__logo {
    height: 50px;
  }
}

/*
 * homepage
*/
.homepage__container {
  position: relative;
}

.homepage__headline {
  background-color: white;
  font-size: 32px;
  padding: 16px;
  margin: 0;
}

.homepage__background--image {
  min-height: 100%;
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .homepage__headline {
    position: absolute;
    top: 5px;
  }
}

@media screen and (min-width: 1280px) {
  .homepage__headline {
    font-size: 60px;
    position: absolute;
    top: 24px;
  }
}

/*
 * about-us
*/
#about-us {
  margin-top: 100px;
  background-image: url(../assets/images/Misc/about_bg.svg);
}

.about-us__content>div {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 0;
}

.about-us__content p {
  max-width: 100%;
  width: 400px;
}

.about-us__content>p {
  color: #c9d5e3;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  text-align: end;
}

@media screen and (min-width: 992px) {
  .about-us__content>p {
    font-size: 56px;
    line-height: 60px;
  }
}

/*
 * our-stories
*/
#our-stories {
  margin-top: 100px;
  overflow: hidden;
}

#our-stories>div {
  border-left: 3px solid #fcde00;
}

#our-stories img {
  width: 100%
}

/*
 * join-us 
*/
#join-us {
  margin-top: 100px;
}

.join-us__group-card > div {
  text-align: center;
}

.join-us__group-card img {
  height: auto;
  width: 200px;
}

/*
 * contact
*/
#contact {
  background-color: #c4d7e4;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.contact__footer--image--container {
  align-self: end;
}

.contact__footer--image {
  height: auto;
  width: 100%;
}

#contact .grid__container {
  padding-top: 25vw;
}

#contact .grid__container > div {
  margin: 0 auto;
}

#contact h2 {
  color: #ffffff;
}

#contact:after {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 120%;
  height: calc(35vw);
  top: -20vw;
  left: -8%;
  transform: rotate(-10deg);
  background-color: #ffffff;
}

.contact__sub-header {
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.contact__links {
  color: #000000;
  text-decoration: none;
}
