///

// Responsive Font Sizes
// https://github.com/twbs/rfs
@import "~rfs/sass";

// Flock Style Theme
@import "styles/variables";
@import "styles/mixins";
@import "styles/utilities";
@import "styles/arrow";
@import "styles/author";
@import "styles/banner";
@import "styles/box";
@import "styles/card";
@import "styles/footer";
@import "styles/hero";
@import "styles/icons";
@import "styles/nav";
@import "styles/navbar";
@import "styles/pagination";
@import "styles/showcase";
@import "styles/typography";
// special import
@import "styles/shame";

// Bootstrap Base Styles
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/buttons";

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
